<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

	<th:block th:replace="fragments/footer :: footer"></th:block>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>

	<div th:replace="fragments/top :: top"></div>
	<div class="wrapper-site" th:classappend="${siteModel.otherSiteData.useMainImage ? 'mainImage': 'mainImage'+siteModel.otherSiteData.theme}">
		<div class="container">
			<h3 th:text="${siteModel.generalSiteModel.contactHeader}"></h3>
			<ul class="list-group mb-4">
				<li th:classappend="${true == true ? 'newsCard'+siteModel.otherSiteData.theme:'newsCard'+siteModel.otherSiteData.theme}" class="list-group-item">
					<span th:text="'Adresa: ' + ${siteModel.generalSiteModel.adress}"> </span>
				</li>
				<li th:classappend="${true == true ? 'newsCard'+siteModel.otherSiteData.theme:'newsCard'+siteModel.otherSiteData.theme}" class="list-group-item">
					<span th:text="'Telefon/Fax: ' + ${siteModel.generalSiteModel.phone}"> </span>
				</li>
				<li th:classappend="${true == true ? 'newsCard'+siteModel.otherSiteData.theme:'newsCard'+siteModel.otherSiteData.theme}" class="list-group-item">
					<span th:text="'Email: ' + ${siteModel.generalSiteModel.email}"> </span>
				</li>
			</ul>

			<h4 th:text="${siteModel.generalSiteModel.structuresHeader}"></h4>
			<ul class="list-group mb-4">
				<li class="list-group-item"><span th:text="${siteModel.generalSiteModel.structure1}"></span></li>
				<li th:classappend="${true == true ? 'newsCard'+siteModel.otherSiteData.theme:'newsCard'+siteModel.otherSiteData.theme}" class="list-group-item"><span th:text="${siteModel.generalSiteModel.structure2}"></span></li>
				<li class="list-group-item"><span th:text="${siteModel.generalSiteModel.structure3}"></span></li>
				<li th:classappend="${true == true ? 'newsCard'+siteModel.otherSiteData.theme:'newsCard'+siteModel.otherSiteData.theme}" class="list-group-item"><span th:text="${siteModel.generalSiteModel.structure3}"></span></li>
			</ul>

			<iframe th:src="${siteModel.generalSiteModel.mapUrl}"
				width="900" height="450" style="border: 0;" allowfullscreen="" loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>