<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<div th:replace="fragments/navigation :: navigation"></div>
	<form th:action="@{/admin/resources}" enctype="multipart/form-data"
		th:object="${siteModel}" method="post">

		<h3 class=" offset-sm-5 col-sm-2">Resurse</h3>
		<div th:id="resourcesList" th:fragment="resources-list"
			th:object="${siteModel}">
			<div class="row mb-2">
				<span th:if="${deleteMessage}" th:text="${deleteMessage}"
					class="text-center col-sm-4 gx-4 offset-sm-4 alert-danger"></span>
			</div>
			<ul th:each="siteData: ${siteModel.resourcesSiteData}"
				class=" offset-sm-4 col-sm-4 list-group list-group-horizontal">
				<li class="list-group-item"><span class="fixed-width-title"
					th:text="${siteData.name}"></span></li>

				<li class="list-group-item">
					<button type="button" class=" btn btn-primary"
						th:data-title="${siteData.name}"
						th:onclick="|selectCurrentResources(this.getAttribute('data-title'));|">Select</button>
				</li>
				<li class="list-group-item">
					<button type="button" class="btn btn-danger"
						th:data-title="${siteData.name}"
						th:onclick="|removeResources(this.getAttribute('data-title'));|">Delete</button>
				</li>
			</ul>
		</div>
		<div id="resourcesPage" th:fragment="resources-page"
			th:object="${siteModel}">
			<div class="row  g-0 m-4">
				<p th:if="${message}" th:text="${message}"
					class="text-center col-sm-4 gx-4 offset-sm-4"
					th:classappend="${'alert ' + alertClass}"></p>
			</div>
			<div class="row mb-3 mt-4 g-0 m-4">
				<label for="inputResourcesTitle"
					class="col-sm-1 gx-4 offset-sm-4 col-form-label">Titlu</label>
				<div class="col-sm-3 g-0">
					<input type="text" class="form-control"
						th:field="*{currentResources.name}" id="inputResourcesTitle"></input>
				</div>
			</div>

			<div class="row mb-3 mt-4 g-0 m-4">
				<label for="inputResourcesPage"
					class="col-sm-1 gx-4 offset-sm-4 col-form-label">Pagina</label>
				<div class="col-sm-3 g-0">
					<select autocomplete="off" class="form-control"
						id="inputResourcesPage" th:field="*{currentResources.info}">
						<option th:each="option : ${pages}" th:value="${option}"
							th:text="${option}"></option>
					</select>
				</div>
			</div>

			<div class="row mb-3 mt-4 g-0 m-4">
				<label for="inputResourcesOrder"
					class="col-sm-1 gx-4 offset-sm-4 col-form-label">Ordine</label>
				<div class="col-sm-3 g-0">
					<input type="number" class="form-control"
						th:field="*{currentResources.order}" id="inputResourcesOrder"></input>
				</div>
			</div>
			<div class="row mb-3 g-0 m-4">
				<input type="file" name="file" id="resources_upload_control"
					style="width: 35%" th:attr="onchange=|uploadResources(event)|"
					class="col-sm-1 gx-4 offset-sm-4 form-control"></input>
			</div>

			<div class="row mb-3 g-0 m-4">
				<label for="inputResourcesDescription"
					class="col-sm-1 gx-4 offset-sm-4 col-form-label">Text</label>
				<div class="col-sm-3">
					<textarea id="inputResourcesDescription"
						th:field="*{currentResources.description}" class="form-control"></textarea>
				</div>
			</div>
		</div>
		<div class="row m-4">
			<button type="submit" class="col-sm-1 btn btn-primary offset-sm-7">Salvare</button>
		</div>
	</form>
	<th:block th:replace="fragments/footer :: footer"></th:block>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>