<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:fragment="header">
<meta name="google-site-verification" content="VR_Mz6yqmf8mFvWbhXdE1A3XB0wvOFLX3-ZKYLL9dH4" />
<meta charset="UTF-8">
<meta name="keywords" content="telesti,scoala,Telesti,Scoala,scoala-telesti" />
<title>Scoala Telesti</title>
<link rel="shortcut icon" href="#">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{webjars/font-awesome/6.2.0/css/all.css}" />
<style th:inline="css" type="text/css" media="screen, print">
    @font-face {
        font-family: "Optima";
        font-weight: normal;
        src: url("[(@{/fonts/OPTIMA.TTF})]");
    }
    .test { 
        font-family: "Optima";
    }
</style>
</head>
</html>