<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<section class="school_section wrapper-site-top" th:fragment="top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 text-center mb-5">
				<h1 class="heading-section main-header-text" th:text="${siteModel.generalSiteModel.name}"></h1>
			</div>
		</div>
	
	</div>
	<div class="container mb-1">
		<div class="row justify-content-between">
			<span class="col-lg-6 fst-italic" th:text="${siteModel.generalSiteModel.motto}"></span>
			<div class=" col-auto d-flex justify-content-end">
				<a class="social-media-link" href="https://www.facebook.com/scoalagenerala.telesti"><span class="social_media fa-brands fa-facebook ms-2"></span></a>
			</div>
		</div>
	</div>
	<nav id="my-navbar" class="navbar navbar-expand-lg navbar-dark my-navbar-light">
		<div class="container">
			<button th:attr="onclick=|showMenu()|"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav" aria-controls="my-nav" aria-expanded="false">
				<span class="fa fa-bars"></span>
			</button> 
			<div id="my-nav" class="navbar-collapse collapse">
				<ul class="navbar-nav mr-auto" th:each="page,iStat: ${siteModel.pageSiteData}">
					<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == pagesUrls[iStat.index] ? 'active':''}">
						<a class="nav-link my-nav-link" th:href="${pagesUrls[iStat.index]}" th:text="${page.name}"></a>
					</li>
				</ul>
			</div>
		
		</div>
	</nav>
	
</section>
</html>